#!/bin/bash

{% set cluster = [] %}
{% for host in groups['df_master_servers'] %}
{% set _ = cluster.append(hostvars[host]['name'] ~ '=http://' ~ host ~ ':' ~ master_peer_port)  %}
{% endfor %}

{{ df_bin_dir }}/master-{{ cluster_name }} \
    --name={{ name }} \
    --data-dir={{ df_data_prefix }}/master \
    --log-file={{ df_data_prefix }}/master.log \
    --log-level={{ log_level }} \
    --master-addr 0.0.0.0:{{ master_port}} \
    --advertise-addr {{ inventory_hostname }}:{{ master_port }} \
    --peer-urls 0.0.0.0:{{ master_peer_port }} \
    --advertise-peer-urls {{ inventory_hostname }}:{{ master_peer_port }} \
    --initial-cluster {{ cluster|join(',') }} \
    --frame-meta-endpoints {{ inventory_hostname }}:{{ etcd_peer_port }} \
    --business-meta-endpoints {{ inventory_hostname }}:{{ etcd_peer_port }}
    
