definitions:
  config.ColumnSelector:
    properties:
      columns:
        items:
          type: string
        type: array
      matcher:
        items:
          type: string
        type: array
    type: object
  config.DispatchRule:
    properties:
      dispatcher:
        description: Deprecated, please use PartitionRule.
        type: string
      matcher:
        items:
          type: string
        type: array
      partition:
        description: |-
          PartitionRule is an alias added for DispatcherRule to mitigate confusions.
          In the future release, the DispatcherRule is expected to be removed .
        type: string
      topic:
        type: string
    type: object
  config.KafkaConfig:
    properties:
      sasl-mechanism:
        type: string
      sasl-oauth-audience:
        type: string
      sasl-oauth-client-id:
        type: string
      sasl-oauth-client-secret:
        type: string
      sasl-oauth-grant-type:
        type: string
      sasl-oauth-scopes:
        items:
          type: string
        type: array
      sasl-oauth-token-url:
        type: string
    type: object
  config.SinkConfig:
    properties:
      column-selectors:
        items:
          $ref: '#/definitions/config.ColumnSelector'
        type: array
      dispatchers:
        items:
          $ref: '#/definitions/config.DispatchRule'
        type: array
      encoder-concurrency:
        type: integer
      kafka-config:
        $ref: '#/definitions/config.KafkaConfig'
      protocol:
        type: string
      schema-registry:
        type: string
      transaction-atomicity:
        type: string
    type: object
  model.Capture:
    properties:
      address:
        type: string
      id:
        type: string
      is_owner:
        type: boolean
    type: object
  model.CaptureTaskStatus:
    properties:
      capture_id:
        type: string
      table_ids:
        description: Table list, containing tables that processor should process
        items:
          type: integer
        type: array
      table_operations:
        additionalProperties:
          $ref: '#/definitions/model.TableOperation'
        type: object
    type: object
  model.ChangefeedCommonInfo:
    properties:
      checkpoint_time:
        type: string
      checkpoint_tso:
        type: integer
      error:
        $ref: '#/definitions/model.RunningError'
      id:
        type: string
      namespace:
        type: string
      state:
        type: string
    type: object
  model.ChangefeedConfig:
    properties:
      changefeed_id:
        type: string
      filter_rules:
        items:
          type: string
        type: array
      force_replicate:
        default: false
        description: if true, force to replicate some ineligible tables
        type: boolean
      ignore_ineligible_table:
        default: false
        type: boolean
      ignore_txn_start_ts:
        items:
          type: integer
        type: array
      mounter_worker_num:
        default: 16
        type: integer
      namespace:
        type: string
      sink_config:
        $ref: '#/definitions/config.SinkConfig'
      sink_uri:
        type: string
      start_ts:
        type: integer
      target_ts:
        type: integer
      timezone:
        default: system
        description: timezone used when checking sink uri
        type: string
    type: object
  model.ChangefeedDetail:
    properties:
      checkpoint_time:
        type: string
      checkpoint_tso:
        type: integer
      create_time:
        type: string
      creator_version:
        type: string
      error:
        $ref: '#/definitions/model.RunningError'
      error_history:
        items:
          type: integer
        type: array
      id:
        type: string
      namespace:
        type: string
      resolved_ts:
        type: integer
      sink_uri:
        type: string
      sort_engine:
        type: string
      start_ts:
        type: integer
      state:
        type: string
      target_ts:
        type: integer
      task_status:
        items:
          $ref: '#/definitions/model.CaptureTaskStatus'
        type: array
    type: object
  model.HTTPError:
    properties:
      error_code:
        type: string
      error_msg:
        type: string
    type: object
  model.ProcessorCommonInfo:
    properties:
      capture_id:
        type: string
      changefeed_id:
        type: string
      namespace:
        type: string
    type: object
  model.ProcessorDetail:
    properties:
      checkpoint_ts:
        description: The maximum event CommitTs that has been synchronized.
        type: integer
      count:
        description: The count of events that have been replicated.
        type: integer
      error:
        $ref: '#/definitions/model.RunningError'
        description: Error code when error happens
      resolved_ts:
        description: The event that satisfies CommitTs <= ResolvedTs can be synchronized.
        type: integer
      table_ids:
        description: all table ids that this processor are replicating
        items:
          type: integer
        type: array
    type: object
  model.RunningError:
    properties:
      addr:
        type: string
      code:
        type: string
      message:
        type: string
    type: object
  model.ServerStatus:
    properties:
      git_hash:
        type: string
      id:
        type: string
      is_owner:
        type: boolean
      pid:
        type: integer
      version:
        type: string
    type: object
  model.TableOperation:
    properties:
      boundary_ts:
        description: |-
          if the operation is a delete operation, BoundaryTs is checkpoint ts
          if the operation is an add operation, BoundaryTs is start ts
        type: integer
      delete:
        type: boolean
      flag:
        type: integer
      status:
        type: integer
    type: object
info:
  contact: {}
paths:
  /api/v1/captures:
    get:
      consumes:
      - application/json
      description: list all captures in cdc cluster
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/model.Capture'
            type: array
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/model.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/model.HTTPError'
      summary: List captures
      tags:
      - capture
  /api/v1/changefeeds:
    get:
      consumes:
      - application/json
      description: list all changefeeds in cdc cluster
      parameters:
      - description: state
        in: query
        name: state
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/model.ChangefeedCommonInfo'
            type: array
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/model.HTTPError'
      summary: List changefeed
      tags:
      - changefeed
    post:
      consumes:
      - application/json
      description: create a new changefeed
      parameters:
      - description: changefeed config
        in: body
        name: changefeed
        required: true
        schema:
          $ref: '#/definitions/model.ChangefeedConfig'
      produces:
      - application/json
      responses:
        "202":
          description: ""
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/model.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/model.HTTPError'
      summary: Create changefeed
      tags:
      - changefeed
  /api/v1/changefeeds/{changefeed_id}:
    delete:
      consumes:
      - application/json
      description: Remove a changefeed
      parameters:
      - description: changefeed_id
        in: path
        name: changefeed_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "202":
          description: ""
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/model.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/model.HTTPError'
      summary: Remove a changefeed
      tags:
      - changefeed
    get:
      consumes:
      - application/json
      description: get detail information of a changefeed
      parameters:
      - description: changefeed_id
        in: path
        name: changefeed_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.ChangefeedDetail'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/model.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/model.HTTPError'
      summary: Get changefeed
      tags:
      - changefeed
    put:
      consumes:
      - application/json
      description: Update a changefeed
      parameters:
      - description: changefeed_id
        in: path
        name: changefeed_id
        required: true
        type: string
      - description: changefeed target ts
        in: body
        name: target_ts
        schema:
          type: integer
      - description: sink uri
        in: body
        name: sink_uri
        schema:
          type: string
      - description: filter rules
        in: body
        name: filter_rules
        schema:
          items:
            type: string
          type: array
      - description: ignore transaction start ts
        in: body
        name: ignore_txn_start_ts
        schema:
          type: integer
      - description: mounter worker nums
        in: body
        name: mounter_worker_num
        schema:
          type: integer
      - description: sink config
        in: body
        name: sink_config
        schema:
          $ref: '#/definitions/config.SinkConfig'
      produces:
      - application/json
      responses:
        "202":
          description: ""
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/model.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/model.HTTPError'
      summary: Update a changefeed
      tags:
      - changefeed
  /api/v1/changefeeds/{changefeed_id}/pause:
    post:
      consumes:
      - application/json
      description: Pause a changefeed
      parameters:
      - description: changefeed_id
        in: path
        name: changefeed_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "202":
          description: ""
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/model.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/model.HTTPError'
      summary: Pause a changefeed
      tags:
      - changefeed
  /api/v1/changefeeds/{changefeed_id}/resume:
    post:
      consumes:
      - application/json
      description: Resume a changefeed
      parameters:
      - description: changefeed_id
        in: path
        name: changefeed-id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "202":
          description: ""
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/model.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/model.HTTPError'
      summary: Resume a changefeed
      tags:
      - changefeed
  /api/v1/changefeeds/{changefeed_id}/tables/move_table:
    post:
      consumes:
      - application/json
      description: move one table to the target capture
      parameters:
      - description: changefeed_id
        in: path
        name: changefeed_id
        required: true
        type: string
      - description: table_id
        in: body
        name: table_id
        required: true
        schema:
          type: integer
      - description: capture_id
        in: body
        name: capture_id
        required: true
        schema:
          type: string
      produces:
      - application/json
      responses:
        "202":
          description: ""
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/model.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/model.HTTPError'
      summary: move table
      tags:
      - changefeed
  /api/v1/changefeeds/{changefeed_id}/tables/rebalance_table:
    post:
      consumes:
      - application/json
      description: rebalance all tables of a changefeed
      parameters:
      - description: changefeed_id
        in: path
        name: changefeed_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "202":
          description: ""
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/model.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/model.HTTPError'
      summary: rebalance tables
      tags:
      - changefeed
  /api/v1/health:
    get:
      consumes:
      - application/json
      description: check if CDC cluster is health
      produces:
      - application/json
      responses:
        "200":
          description: ""
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/model.HTTPError'
      summary: Check if CDC cluster is health
      tags:
      - common
  /api/v1/log:
    post:
      consumes:
      - application/json
      description: change TiCDC log level dynamically
      parameters:
      - description: log level
        in: body
        name: log_level
        required: true
        schema:
          type: string
      produces:
      - application/json
      responses:
        "200":
          description: ""
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/model.HTTPError'
      summary: Change TiCDC log level
      tags:
      - common
  /api/v1/owner/resign:
    post:
      consumes:
      - application/json
      description: notify the current owner to resign
      produces:
      - application/json
      responses:
        "202":
          description: ""
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/model.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/model.HTTPError'
      summary: notify the owner to resign
      tags:
      - owner
  /api/v1/processors:
    get:
      consumes:
      - application/json
      description: list all processors in the TiCDC cluster
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/model.ProcessorCommonInfo'
            type: array
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/model.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/model.HTTPError'
      summary: List processors
      tags:
      - processor
  /api/v1/processors/{changefeed_id}/{capture_id}:
    get:
      consumes:
      - application/json
      description: get the detail information of a processor
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.ProcessorDetail'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/model.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/model.HTTPError'
      summary: Get processor detail information
      tags:
      - processor
  /api/v1/status:
    get:
      consumes:
      - application/json
      description: get the status of a server(capture)
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.ServerStatus'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/model.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/model.HTTPError'
      summary: Get server status
      tags:
      - common
swagger: "2.0"
