# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.prof
*.log

bin
*.iml
.idea
.DS_Store
.devcontainer
.vscode
vendor
.python-version

cscope.*
**/*.swp

cmd/cdc/cdc

# Files generated when testing
tiflash-config-preprocessed.toml

# Files generated when running docker-compose
deployments/ticdc/docker-compose/data
deployments/ticdc/docker-compose/logs

# Binary file when running intergration test
integration/integration

*.tmp

# DM related files
/dm/monitoring/dashboards/*.json
/dm/monitoring/rules/dm_worker.rules.yml
syncer.meta
relay_log/*
dumped_data/*
*-coverage.xml
*-junit-report.xml
dm/ui/dist
dm/ui/src/routes.tsx
dm/ui/stats.html

# npm dependencies
node_modules

tools/bin
tools/include
