version: '2.1'

services:
  mysql_integration_test:
    build:
      context: ../../../
      dockerfile: ./deployments/ticdc/docker/integration-test.Dockerfile
    depends_on:
      - "zookeeper"
      - "kafka"
    command:
      - bash
      - -c
      - make integration_test_mysql CASE=cdclog_s3
    network_mode: "container:kafka"
