
#server id of slave for binlog replication
#each instance (master and slave) in replication group should have different server id
server-id: 101

#represents a MySQL/MariaDB instance or a replication group
source-id: mysql-replica-01

#flavor: mysql/mariadb
flavor: mysql

#enable relay log
enable-relay: false
# relay-binlog-name: ''
# relay-binlog-gtid: ''
# relay-dir: ./relay_log

#enable gtid in relay log unit
enable-gtid: false

# when this field is true, all tasks on the current source will be started, and vice versa
enable: true

#charset of DSN of source mysql/mariadb instance
# charset: ''

from:
  host: 127.0.0.1
  user: root
  password: '123456'
  port: 3306

#relay log purge strategy
#purge:
#  interval: 3600
#  expires: 24
#  remain-space: 15

#task status checker
#checker:
#  check-enable: true
#  backoff-rollback: 5m
#  backoff-max: 5m
